kind: Deployment
config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        valid_status_codes: [200, 201, 202, 204, 301, 302, 400, 401, 403, 404, 405]
        follow_redirects: true
        preferred_ip_protocol: "ip4"
strategy:
  type: Recreate
nodeSelector:
  kubernetes.io/hostname: master-1.commerce.kai.id
tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
hostNetwork: true
containerPort: 9115
hostPort: 9115
securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000980000 # nobody user
  runAsGroup: 1000980000 # nobody group