server:
  ha:
    enabled: false
  dataStorage:
    enabled: true
    size: 3Gi
    storageClass: nfs-client
  standalone:
    enabled: true
    config: |
      ui = true

      storage "raft" {
        path    = "/vault/data"
        node_id = "vault-0"
      }

      listener "tcp" {
        address     = "[::]:8200"
        cluster_address = "[::]:8201"
        tls_disable = "true"
      }

      disable_mlock = true
